<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
  	<servlet>
    		<servlet-name>LoginServlet</servlet-name>
    		<servlet-class>LoginServlet</servlet-class>
  	</servlet>

  	<servlet>
    		<servlet-name>AccountServlet</servlet-name>
    		<servlet-class>AccountServlet</servlet-class>
  	</servlet>

  	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/LoginServlet</url-pattern>
  	</servlet-mapping>

  	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/servlet/AccountServlet</url-pattern>
  	</servlet-mapping>
</web-app>
