<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>

	<!-- ************* DescripciOn general de la aplicaciOn web ************ -->
        <display-name>
                Servlets y Java Server Pages
        </display-name>

        <description>
                Este es el descriptor necesario para poder probar los servlets
        </description>

                <!-- ************* ParAmetros necesarios para cada servlet ***************** -->
	<servlet>
		<servlet-name>MiPrimerServlet</servlet-name>
		<servlet-class>MiPrimerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MiPrimerServlet</servlet-name>
		<url-pattern>/MiPrimerServlet</url-pattern>
	</servlet-mapping>

</web-app>
