<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>TestServlet</servlet-class>
		<init-param>
			<param-name>driverclassname</param-name>
			<param-value>com.mysql.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<param-name>dburl</param-name>
			<param-value>jdbc:mysql://127.0.0.1:/prb</param-value>
		</init-param>
		<init-param>
			<param-name>bd</param-name>
			<param-value>curso</param-value>
		</init-param>
		<init-param>
			<param-name>username</param-name>
			<param-value>postgres</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>hola123</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
</web-app>
